<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<title>Regirtration page</title>
<!-- <link rel="stylesheet" href="mystyle.css"> -->
</head>
<style>
body
{
    background:url('https://g-commerce-images.s3.ap-south-1.amazonaws.com/website_images/registration.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    font-family:Arial;
}
.wrap
{
    max-width:500px;
    border-radius:10px;
    margin:auto;
    background:rgba(223, 188, 195, 0.728);
    box-sizing:border-box;
    padding:15px;
    color:#fff;
    margin-top:30px;
    margin-bottom: 10px;
    text-align: center;
}
H4
{
   text-align:center;
}
</style>
<body>  
        <!-- nav bar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="#">Navbar</a>
        
          <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About Us</a>     
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Become a Free Lancer</a>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
            </form>
          </div>
        </nav>
        <!-- nav bar ends -->
        
<div class="wrap">
<H4>Register here</H4>
<!-- <form> -->
    <!-- Textfield with Floating Label -->

<form action="/registration" method="post">
    

    <!-- <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="sample3">
        <label class="mdl-textfield__label" for="sample3">Age</label>
      </div> -->

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="sample3" name="e-mail">
        <label class="mdl-textfield__label" for="sample3">Email-id</label>
      </div>
      <!-- <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="sample3">
        <label class="mdl-textfield__label" for="sample3">User Name</label>
      </div> -->
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="Password" id="sample3" name="password">
        <label class="mdl-textfield__label" for="sample3">Password</label>
      </div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="Password" id="sample3" name="password-1">
        <label class="mdl-textfield__label" for="sample3">Re-type Password</label>
      </div>

      <!-- Raised button with ripple -->
      <div style="text-align: center;">
<input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="submit" value="Register">
</div>
  
  
  </form>
  
<!-- <input type="text" placeholder="First Name" required>
<input type="text" placeholder="last Name" required>
<input type="text" placeholder="Phone Number" required>
<input type="text" placeholder="Age" required>
<input type="text" placeholder="Email" required>
<input type="text" placeholder="User Name" required>
<input type="password" placeholder="Password" required>
<input type="password" placeholder="Re-enter Password" required>
<input type="text" placeholder="Hostel Block Name" required>
<input type="text" placeholder="Room Number" required>
<input type="submit" value="submit"> -->
<!-- </form> -->
</body>
</html>




